@media (max-width:1400px) {
  
}

@media (max-width:1200px) {
    .project__content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    }
  
}

@media (max-width:992px) {
  
}

@media (max-width:768px) {
  
}

@media (max-width:576px) {
  
}
@media (max-width:400px) {
    .project__img {
    display: none;
}
.section__project__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0;
}
.section__project-text {
    max-width: 201px;
    width: 100%;
    line-height: 30px;
    margin: 0 auto;
}
.project__btn {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
}
@media (max-width:350px) {
    .project__btn {
        margin: 0 10px;
    }
}

/*  qoshimcha medialar >>>  */

